{% extends "templates/base.twig" %}

{% block title %} Booklist {% endblock %}

{% block body %}
<center>
<div class="jumbotron">
    <br>
    <h1>Admin Book Management</h1>
    <br>
</div>
<table id="books">
{% for book in booklist %}
    <tr>
        <td>
            {{ book[0] }}
        </td>
        <td>
            {{ book[1] }}
        </td>
    {% if book[2]==null %}
        <td>
            Available
        </td>
    {% else %}
        <td>
            Not Available
        </td>
    {% endif %}
    </tr>
{% endfor %}

</table>
<form action="/addbook" method="POST">
    <input type="text" name="book-id">
    <input type="text" name="book-name">
    <input type="submit" value="Add this book" class="btn btn-primary"/>
</form>
<br>
<br>
<form action="/removebook" method="POST">
    <input type="text" name="book-id" placeholder="Book Id">
    <input type="submit" value="Remove this book" class="btn btn-primary"/>
</form>
<form action="/adminhome" method="GET">
    <input type="submit" value="Home" class="btn btn-primary"/>
</form>
</center>
{% endblock %}