{% extends "templates/base.twig" %}

{% block title %}Admin Login Page{% endblock %}

{% block body %}
<center>
<div class="jumbotron">
<h1>Welcome to Online Library Portal</h1>
</div>
<h1>Admin Login Portal</h1>
{% if failed %}
{{message}} 
{% endif %}    
<form action="/authenticate" method="POST">
<input type="text" name="type" value="admin" style="display: none;">
Username : <input type="text" name="username">
<br>
Password : <input type="password" name="password">
<br>
<input type="submit" value="Login"/>
</form>    
<a href="/AdminRegisterPage">
<input type="button" value="Register"/>
</a> 
<form action="/" method="GET">
<input type="submit" value="Home"/>
</form>
</center>
{% endblock %}