<!DOCTYPE html>
<html lang="en">
  <head>
    {% include("templates/head.twig") %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="p-3 mb-2 bg-secondary text-white">
    {% block body %}{% endblock %}
  </body>
</html>
