{% extends "templates/base.twig" %}

{% block title %}Client Login Page{% endblock %}

{% block body %}
<center>
<div class="jumbotron">
    <h1>Welcome to Online Library Portal</h1>
</div>
<h1>Client Login Portal</h1>
{% if failed %}
    {{message}} 
{% endif %}     
<form action="/authenticate" method="POST">
    <table>
        <input type="text" name="type" value="client" style="display: none;">
        <tr>
            <td>
                Username :
            </td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <br>
        <tr>
            <td>    
                Password :
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Login" class="btn btn-primary"/>
</form> 
<br>   
<a href="/ClientRegisterPage">
    <input type="button" value="Register" class="btn btn-primary"/>
</a>
<br><br>
<form action="/" method="GET">
    <input type="submit" value="Home"  class="btn btn-primary"/>
</form>
</center>
{% endblock %}