{% extends "templates/base.twig" %}

{% block title %}Library{% endblock %}

{% block body %}
<h1>Welcome to Online Library Portal</h1>      
<form action="/admin" method="GET">
    <input type="submit" value="Admin"/>
</form>
<form action="/client" method="GET">
    <input type="submit" value="Client"/>
</form>
{% endblock %}
