input[type=button], input[type=submit], input[type=reset] {
    background-color: #7160FC;
    border-radius: 15%;
    border: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}